[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi = "*"
pulumi-aws = "*"
boto3 = "*"
paramiko = "*"
azure-mgmt-resource = "*"
azure-mgmt-compute = "*"
azure-mgmt-network = "*"
azure-identity = "*"
fastapi = "*"
pydantic = "*"
pytest = "*"
httpx = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
